  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 4rem 0 0 2.5rem;
  font-size: 2rem;
}

.jwplayer.jw-skin-netflix.jw-breakpoint-3 .jw-title-secondary,
.jwplayer.jw-skin-netflix.jw-breakpoint-2 .jw-title-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: -5rem 0 0 2.5rem;
  font-size: 1.5rem;
}

.jwplayer.jw-skin-netflix.jw-breakpoint-5 .jw-title-primary,
.jwplayer.jw-skin-netflix.jw-breakpoint-4 .jw-title-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 5rem 0 0 2.5rem;
  font-size: 2.5rem;
}

.jwplayer.jw-skin-netflix.jw-breakpoint-5 .jw-title-secondary,
.jwplayer.jw-skin-netflix.jw-breakpoint-4 .jw-title-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: -6rem 0 0 2.5rem;
  font-size: 1.5rem;
}

.jwplayer.jw-skin-netflix.jw-breakpoint-7 .jw-title-primary,
.jwplayer.jw-skin-netflix.jw-breakpoint-6 .jw-title-primary {
  display: -webkit-box;
